* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(128, 104, 104);
}

h1 {
    font-size: 60px;
}

main {
    padding: 15px 50px;
}

form {
    size: 7px;
}

form, * {
    margin: 7px;
}

textarea {
    resize: none;
}
