ol {
  background-color: yellow;
}

.par {
  color: green;
}

.impar {
  text-transform: uppercase;
}

h1,
h3 {
  color: red;
}

#header {
  font-size: 40px;
  border: 1px solid black;
}

li {
  font-size: 20px;
}

.par .impar {
  font-weight: 900;
}

.ling-init {
  color: aqua;
}

.java {
  background-color: pink;
}

ul li a:hover {
    font-weight: 900;
}

#stackoverflow {
    color: orange;
}

#w3schools {
    color: green;
}

#mozilla {
    color: black;
}

#devdocs {
    color: rgb(207, 207, 0);
}

#trybe {
    color: limegreen;
}
